#imageContainer {
/*  width: 100%;*/
/*  height: 100%;*/
/*  height: 600px;*/
  position: absolute;
  width: 100vw;
  height: 90vh;
}

#imagePane {
  object-fit: contain;
  width: inherit;
  height: inherit;
}

#buttonPanel {
  width: 100%;
}

#commandCenter {
  height: 24px;
}

#infoPanel {
  float: left;
  width: 50px;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}